@model IEnumerable<DaemonCharacter.Models.NonPlayerModel>

@{
    Layout = null;

}

<div class="control-label">
    <strong>Prepare NPC for Session</strong>
</div>

<div class="control-label">
    @Html.DisplayNameFor(model => model.name)
    @Html.DropDownList("SelectNPC", new SelectList(Model.Select(s => new { s.id, s.name }), "id", "name"))
</div>

<div class="col-md-4">
    <div class="h4">
        Selected NPCs
    </div>
    <table id="GridNPC" class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    NPC
                </th>
                <th>
                    Chalenge Level
                </th>
                <th>
                    Max Life
                </th>
                <th>
                    Order
                </th>
                <th>
                    Remaining Life
                </th>
                <th>
                    Qtd
                </th>
                <th>
                    Private Annotations
                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

