@model DaemonCharacter.Application.ViewModels.Attribute.CharacterAttributeViewModel

@{Layout = null;}

<div class="col-md-12">
    <h5>List of available talents</h5>
    @{Html.RenderPartial("_SearchAttributes", Model.ListOfAvailableAttributes.ToList());}
</div>