@model DaemonCharacter.Application.ViewModels.Attribute.CharacterAttributeViewModel

@{Layout = null;}
 
<div class="col-md-6">
    <h5>List of available attributes</h5>
    <div id="SearchAttributeContainer">
        @{Html.RenderPartial("_SearchAttributes", Model.ListOfAvailableAttributes.ToList());}
    </div>
</div>
<div class="col-md-6">
    <h5>Selected attributes</h5>
    <table id="TableSelected" class="table table-bordered">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>