@model List<DaemonCharacter.Application.ViewModels.Attribute.AttributeViewModel>

<table class="table table-bordered table-striped" id="TableSearch">
    <thead>
        <tr>
            <th>Attribute</th>
            <th colspan="2">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" style="cursor:pointer" id="@Html.Raw(item.AttributeId)">
                <td>@Html.DisplayFor(m => item.AttributeName)</td>
                <td colspan="2">@Html.DisplayFor(m => item.AttributeDescription)</td>
            </tr>
        }
    </tbody>
</table>
