@model DaemonCharacter.Application.ViewModels.CharacterAttribute.CharacterAttributeViewModel

@{Layout = null;}

<div class="col-xs-6">
    <h4>List of available attributes</h4>
    @*TODO: implementar a pesquisa com paginação*@ 
    <input type="text" class="form-control col-md-12" placeholder="Search" id="SearchAvailable" />

    <div id="SearchAttributeContainer">
        @{Html.RenderPartial("_SearchAttributes", Model.ListOfAvailableAttributes);}
    </div>
</div>
<div class="col-xs-6">
    <h4>Selected attributes</h4>
    @*TODO: implementar a pesquisa com paginação*@
    <input type="text" class="form-control col-md-12" placeholder="Search" />
    <table id="TableSelected" class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>