@model IEnumerable<DaemonCharacter.Application.ViewModels.PlayerItem.SelectedPlayerItemViewModel>

@if (Model.ToList().Count > 0)
{
<table class="table table-striped PlayerSheet">
    <thead>
        <tr>
            <th class="small text-center inverse">@Html.LabelFor(m => Model.FirstOrDefault().ItemName)</th>
            <th class="small text-center inverse">@Html.LabelFor(m => Model.FirstOrDefault().PlayerItemQtd)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="small" style="vertical-align:middle">@Html.DisplayFor(m => item.ItemName)</td>
                <td class="small" style="vertical-align:middle">@Html.DisplayFor(m => item.PlayerItemQtd)</td>
            </tr>
        }
    </tbody>
</table>
}