<aside id="aside">
    <!--
        Always open:
        <li class="active alays-open">

        LABELS:
            <span class="label label-danger pull-right">1</span>
            <span class="label label-default pull-right">1</span>
            <span class="label label-warning pull-right">1</span>
            <span class="label label-success pull-right">1</span>
            <span class="label label-info pull-right">1</span>
    -->
    <nav id="sideNav">
        <!-- MAIN MENU -->
        <ul class="nav nav-list">
            <li class="active">
                <!-- dashboard -->
                <a class="dashboard" href="javascript:void(0)" @*id="mobileMenuBtn"*@>
                    <i class="main-icon fa fa-bars"></i> <span>Default View</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="main-icon sprite sprite-Stick-Fighting-50 div-icon"></i><span>Attributes</span>
                </a>
            </li>
            <li>
            <a href="#">
                <i class="main-icon sprite sprite-Talent div-icon"></i> <span>Talents</span>
            </a>
            <li>
                <a href="#">
                    <i class="main-icon sprite-playersheet sprite-playersheet-Wizard-48 div-icon"></i> <span>Magics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="main-icon sprite-playersheet sprite-playersheet-Armored-Helmet div-icon"></i> <span>Items</span>
                </a>
            </li>
        </ul>
        <h3>Custom Views</h3>
        <ul class="nav nav-list">
            <li>
                <a href="#"><i class="main-icon sprite-playersheet sprite-playersheet-Armored-Gauntlet div-icon"></i> <span>Using Items + Magics</span></a>
            </li>
            <li>
                <a href="#"><i class="main-icon sprite-playersheet sprite-playersheet-ten-dice div-icon"></i> <span>etc.</span></a>
            </li>
        </ul>
    </nav>

    <span id="asidebg"><!-- aside fixed background --></span>
</aside>
