
@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><strong>Oops! something went wrong:</strong></p>
        <p>@Html.ValidationSummary(true)</p>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><strong>Success:</strong></p>
        <p>@ViewBag.Sucesso</p>
    </div>
}