@{
    ViewBag.Title = "Preparing for a session";
}

<h2 class="animated wow fadeInUp" data-wow-delay="0.2s">
    <i class="fa fa-logoCreateCharacter animated wow fadeInDown"></i>
    &nbsp;Preparing for a session
</h2>


<section id="NPC">
    @{Html.RenderAction("_ListNPCForSession", "Character");}
</section>

@section scripts {

    <script type="text/javascript" src="~/Scripts/Session.js"></script>
    
}