@model IEnumerable<DaemonCharacter.Models.AttributeTypeClass>

@{
    Layout = null;
}

<div class="editor-label">
    @Html.DisplayNameFor(model => model.name)
</div>
<div class="editor-field">
    <select>
        @foreach (var item in Model)
        {
            <option value="@item.id">
                @Html.DisplayFor(model => item.name)
            </option>
        }
    </select>
</div>