
@model IEnumerable<DaemonCharacter.Models.AttributeModel>

@{ 
    Layout = null;
}

<table cellspacing="0" >
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBox("Bonus_" + item.id.ToString(), (bool)ViewBag.selected.Contains(item.id))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>

        </tr>
    }

</table>
