@model IEnumerable<DaemonCharacter.Models.AttributeClass>

<fieldset>
    <legend>Attributes</legend>

    @{
        var type = string.Empty;
    }
    @foreach (var items in Model)
    {
        if (type != items.type.name)
        {
            
            type = items.type.name;

            <strong>- @Html.DisplayName(type)</strong>
        
        }
        <div class="selector-Dynamic-right">
         <table cellpadding="0" cellspacing="0">
             <tr>
                 <td>@Html.DisplayName(items.name)</td>
                 <td align="center"><input type="number" min="0" name="value" class="dynamic-input" /></td>
                 <td width="30px" align="right"><input type="button" value="X" /></td>
             </tr>
         </table>
        </div>
    }

</fieldset>