@model IEnumerable<DaemonCharacter.Models.CharacterAttributeModel>

@{
    ViewBag.type = string.Empty;
}
@foreach (var items in Model)
{
    if (string.IsNullOrEmpty(ViewBag.type) || ViewBag.type != items.attribute.type)
    {
        <h3>@Html.Raw(items.attribute.type)</h3>
    }
    <div style="text-align:right;" title="@Html.Raw(items.attribute.description)">
        @Html.DisplayName(items.attribute.name)
        <input type="number" class="dynamic-input-detail" id="ValAttr_@Html.Raw(items.id)" readonly="readonly" value="@Html.Raw(items.value)">
    </div>

    ViewBag.type = items.attribute.type;
}
