@{
    ViewBag.Title = "Home";
}

@section CustomStyle {
    @Styles.Render("~/bundles/homeCss")
}
<section id="slider" class="fullheight" style="background: url('../../Images/Landscapes/Players.jpg'); background-position: left bottom">
    <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            <div class="container text-center">
                <h1 class="nomargin size-50 weight-300 wow fadeInUp" style="color:white !important" data-wow-delay="0.4s">Unlimited Easy Landing Pages</h1>
                <p class="lead font-lato size-30 wow fadeInUp" style="color:white !important" data-wow-delay="0.7s">Building a Landing Page was never so Easy &amp; Interactive.</p>

                <div class="margin-top-30">
                    <a href="#" class="btn btn-3d btn-lg btn-teal"><i class="glyphicon glyphicon-th-large"></i>FREE TRIAL</a>
                    <span class="size-17 hidden-xs btn btn-lg">&nbsp; OR &nbsp;</span>
                    <a href="#" class="btn btn-3d btn-lg btn-red"><i class="glyphicon glyphicon-user"></i>START FOR A SUBSCRIPTION</a>
                </div>
            </div>
        </div>
    </div>
</section>