#PlayerSheetContainer {
    /*background-image: url(../Images/corner.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 300px;*/
    /*background-color: #fff;*/
    /*background-image: url(../Images/diablo_texture2.PNG);
    background-position:top left;
    background-size:cover;*/
    margin: 15px;
    margin-left: 75px;
}

.player-sheet-header {
    background-color: lightgray;
    margin: 0;
    max-height: 250px;
}

    .player-sheet-header p {
        display: block;
        width: 100%;
        padding: 5px;
        margin: 0;
    }

.font-bold {
    font-weight: bold;
}

.div-container {
    height: 325px;
}

#div-privateAnnotations-container {
    height: 300px;
}

.div-attribute-container, .div-talents-container {
    height: 300px;
    overflow-y: auto;
}

.div-items-container {
    height: 400px;
    overflow-y: auto;
}

.table tbody tr td input {
    cursor: pointer;
}

.inline-flex {
    display: inline-flex !important;
    vertical-align: text-bottom !important;
    margin: 0 !important;
}

.label-form {
    padding: 17px 10px 0px 0px;
}

hr.style18 {
    height: 30px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    hr.style18:before {
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        /*border-color: #8c8b8b;*/
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

#TableHeader {
    opacity: 0.9;
    background-color: rgba(244, 244, 244, 0.01);
}

    #TableHeader th, td {
        border: 0px !important;
    }

.title-playersheet {
    cursor: pointer;
}
