@model IEnumerable<DaemonCharacter.Models.AttributeTypeClass>

@{
    Layout = null;
    var a = new SelectList(Model, "id", "name");
}

<div class="editor-label">
    @Html.DisplayNameFor(m => m.name)
</div>

<div class="editor-field">
    @Html.DropDownListFor(m => m.FirstOrDefault().id, a)
</div>
