@model DaemonCharacter.Models.AttributeTypeClass

@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<div class="editor-label">
    @Html.DisplayNameFor(m => m.name)
</div>

<div class="editor-field">
    @Html.DropDownList("Types", String.Empty)
</div>

