@model IList<DaemonCharacter.Application.ViewModels.Attribute.AttributeBonusViewModel>

@{ Layout = null;}

<table class="table table-striped table-bordered">
    <tr>
        <th style="display:none;"></th>
        <th>Bonus to:</th>
        <th>
        </th>
    </tr>

    @for (int cont = 0; cont < Model.Count; cont++)
    {
        <tr>
            <td style="display:none;">
                @Html.HiddenFor(m => Model[cont].AttributeId, new { @Name = "AttributeBonusViewModel[" + cont.ToString() + "].AttributeId" })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model[cont].Selected, new { @Name = "AttributeBonusViewModel[" + cont.ToString() + "].Selected" })
            </td>
            <td>
                @Html.TextBoxFor(m => Model[cont].AttributeName, new { @Name = "AttributeBonusViewModel[" + cont.ToString() + "].AttributeName", @ReadOnly = "readonly" })
            </td>
        </tr>
    }

</table>
